/*!
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

#main .row {
    margin-bottom: 20px;
}
#main-header {
  margin-top: 10px;
}
#main-header .col-sm-6 {
    padding-top: 10px;
}

/** SCROLL BAR **/
/*
.sidebar-nav .panel-body {
    margin-right: -11px;
}
.sidebar-nav .panel-body ul.nav {
    border-right: 1px solid #ddd;
}
#main::-webkit-scrollbar,
.sidebar-nav .panel-body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
#main::-webkit-scrollbar{
    width: 13px;
}
#main::-webkit-scrollbar-button,
.sidebar-nav .panel-body::-webkit-scrollbar-button {
    display: none;
}
#main::-webkit-scrollbar-track,
.sidebar-nav .panel-body::-webkit-scrollbar-track {
    background: #fff;
}
#main::-webkit-scrollbar-thumb,
.sidebar-nav .panel-body::-webkit-scrollbar-thumb {
    min-height: 2rem;
    background: #d2d2d2;
    background-clip: padding-box;
    border: 3px solid #fff;
    border-radius: 5px;
}
*/