

            <div class="row">
                <div class="col-md-12">
                    <!-- #main-map -->
                    <div id="main-map"> </div>
                </div>
            </div>

            <!-- #main-header -->
            <div id="main-header" class="row">
                <div class="col-md-6 col-sm-6">
                        <a class="btn btn-primary"> <i class="icon-plus"></i> Click here to Report a story </a>
                </div>
                <div class="col-md-6 col-sm-6">

                                            <!-- <form class="form-search form-inline"> -->
                                                <div class="input-group custom-search-form">
                                                    <input type="text" class="form-control" placeholder="Search...">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button">
                                                            <i class="fa fa-search"></i> Search
                                                        </button>
                                                    </span>
                                                </div>
                                            <!-- </form> -->
                    
                </div>
            </div>

            <div class="row" style="margin-bottom: 0px;">
                <div class="col-md-12">
                    <!-- #main-content -->
                    <div id="main-content"> </div>
                </div>
            </div>